<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/img/Copilot_20260213_155602.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/CSS/Ejercicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Página web</title>
</head>

<body>
<main class="main">

    <!-- CABECERA -->
    <header class="topbar">
    <div class="logo"><img src="/static/img/Copilot_20260213_155602.png" alt="ARCADE X" width="100px"> </div>

    <nav class="menu">
        <a href="#">Tienda</a>
        <a href="#">Ofertas</a>
        <a href="#">Biblioteca</a>
        <a href="#soporte">Soporte</a>
    </nav>

    <div class="buscador">
        <input type="text" placeholder="Buscar juegos...">
        <button>🔍</button>
    </div>
</header>

    <!-- NAVEGACIÓN -->
    <nav class="navegacion">
        <a href="#">Inicio</a>
        <a href="#nosotros">Nosotros</a>
        <a href="#servicios">Servicios</a>
        <a href="#contacto">Contacto</a>
    </nav>

    <!-- BANNER -->
    <section class="banner">
        <h1>Tu proxima aventura comienza aqui</h1>
        <h2>Explora ofertas, juegos nuevos y
            clasicos imperdibles </h2>
            <a href="#Catalogo">Ver juegos</a>
    </section>
    

    <!-- SECCIÓN 2 -->
    <section class="juegos" id="Catalogo">
  <h2 class="titulo-seccion">Destacados</h2>

  <div class="card-juego">
    <img src="/static/img/Call of duty warzone.jpg" alt="juego">
    <div class="info">
      <h3>Call of duty warzone</h3>
      <p>Acción · RPG · Mundo abierto</p>
      <div class="precio">
        <span class="descuento">-45%</span>
        <span class="valor">$135.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Gta V.jpg" alt="juego">
    <div class="info">
      <h3>Gta V</h3>
      <p>Acción · RPG · Mundo abierto</p>
      <div class="precio">
        <span class="descuento">-40%</span>
        <span class="valor">$150.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Sekiro.jpg" alt="juego">
    <div class="info">
      <h3>Sekiro Shadows die Twice</h3>
      <p>Acción · Exploracion · Aventura</p>
      <div class="precio">
        <span class="descuento">-40%</span>
        <span class="valor">$185.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Resident evil 7.jpg" alt="juego">
    <div class="info">
      <h3>Resident evil 7 Biohazard</h3>
      <p>Acción · Terror psicologico · Survival horror</p>
      <div class="precio">
        <span class="descuento">-60%</span>
        <span class="valor">$70.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Skyrim SE.jpg" alt="juego">
    <div class="info">
      <h3>Skyrim Special Edition</h3>
      <p>Fantasía · RPG . Exploracion</p>
      <div class="precio">
        <span class="descuento">-70%</span>
        <span class="valor">$35.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>
</section>

    <!-- SECCIÓN 3 -->
    
    <section class="soulslike">
  <article>
    <div>
      <h2>Soulslike</h2>
      <p>
        ¿Aceptas el reto? Los juegos Soulslike te sumergen en mundos oscuros y desafiantes,
        donde cada enemigo es una prueba y cada victoria se siente como un logro épico.
        Descubre títulos que pondrán a prueba tu habilidad y determinación.
      </p>
    </div>
  </article>
</section>

<section class="juegos souls-catalogo">
  <div class="card-juego">
    <img src="/static/img/Elden Ring.jpg" alt="Elden Ring">
    <div class="info">
      <h3>Elden Ring</h3>
      <p>Acción · RPG · Mundo abierto</p>
      <div class="precio">
        <span class="descuento">-25%</span>
        <span class="valor">$200.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Dark souls lll.jpg" alt="Dark Souls III">
    <div class="info">
      <h3>Dark Souls III</h3>
      <p>Acción · RPG · Fantasía oscura</p>
      <div class="precio">
        <span class="descuento">-35%</span>
        <span class="valor">$180.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Bloodborne.jpg" alt="Bloodborne">
    <div class="info">
      <h3>Bloodborne</h3>
      <p>Acción · RPG · Horror gótico</p>
      <div class="precio">
        <span class="descuento">-40%</span>
        <span class="valor">$160.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>
</section>



    <!-- FOOTER -->
    <section class="residentevil">
  <article>
    <div>
      <h2>Resident Evil</h2>
      <p>
        ¡Adéntrate en el terror y la supervivencia con la saga Resident Evil. 
        Descubre títulos icónicos que mezclan acción, misterio y horror en cada entrega!
      </p>
    </div>
  </article>
</section>

<section class="juegos re-catalogo">
  <div class="card-juego">
    <img src="/static/img/re4.jpg" alt="Resident Evil 4">
    <div class="info">
      <h3>Resident Evil 4 Remake</h3>
      <p>Survival Horror · Acción</p>
      <div class="precio">
        <span class="descuento">-30%</span>
        <span class="valor">$180.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Re8.jpg" alt="Resident Evil Village">
    <div class="info">
      <h3>Resident Evil Village</h3>
      <p>Survival Horror · Mundo oscuro</p>
      <div class="precio">
        <span class="descuento">-25%</span>
        <span class="valor">$200.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Resident evil 7.jpg" alt="Resident Evil 2 Remake">
    <div class="info">
      <h3>Resident Evil 7 Biohazard</h3>
      <p>Survival Horror · Terror Psicologico</p>
      <div class="precio">
        <span class="descuento">-60%</span>
        <span class="valor">$70.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>
</section>

<!--JUEGOS ANIME-->
<section class="anime-action">
  <article>
    <div>
      <h2>Anime Fighters</h2>
      <p>
        ¡Revive las batallas más épicas del anime con títulos llenos de acción, poderes
        espectaculares y combates que te harán sentir dentro de tus series favoritas!
      </p>
    </div>
  </article>
</section>

<section class="juegos anime-catalogo">
  <div class="card-juego">
    <img src="/static/img/Dragon-Ball-Sparking-Zero.jpg" alt="Dragon Ball Sparking Zero">
    <div class="info">
      <h3>Dragon Ball Sparking Zero</h3>
      <p>Lucha · Anime · Multijugador</p>
      <div class="precio">
        <span class="descuento">-20%</span>
        <span class="valor">$220.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Kakarot.jpg" alt="Dragon Ball Kakarot">
    <div class="info">
      <h3>Dragon Ball Kakarot</h3>
      <p>Acción · RPG · Anime</p>
      <div class="precio">
        <span class="descuento">-30%</span>
        <span class="valor">$180.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>

  <div class="card-juego">
    <img src="/static/img/Naruto x Boruto.jpg" alt="Naruto Storm 4 x Boruto">
    <div class="info">
      <h3>Naruto x Boruto Ultimate Edition  </h3>
      <p>Lucha · Anime · Historia</p>
      <div class="precio">
        <span class="descuento">-35%</span>
        <span class="valor">$160.000</span>
      </div>
      <a href="#" class="btn-comprar">Comprar</a>
    </div>
  </div>
</section>


<!--NOSOTROS-->
<section id="nosotros" class="nosotros">
    <div class="contenedor-nosotros">
        <h2>Sobre ARCADE X</h2>

        <p>
            En <strong>ARCADE X</strong> vivimos el gaming como una pasión.
            Nuestra plataforma nace con el objetivo de ofrecer a los jugadores
            un espacio donde puedan descubrir títulos increíbles, acceder a
            ofertas exclusivas y mantenerse conectados con la comunidad gamer.
        </p>

        <p>
            Creemos que los videojuegos no son solo entretenimiento,
            sino experiencias que unen personas, cuentan historias
            y crean recuerdos inolvidables.
        </p>

        <p>
            Nuestro compromiso es brindarte una tienda moderna,
            rápida y segura donde puedas encontrar desde clásicos
            hasta los lanzamientos más recientes del mundo gaming.
        </p>
    </div>
</section>


<!-- SEERVICIOS-->
 <section id="servicios" class="servicios">
    <h2>🐉Nuestros Servicios🐉</h2>

    <div class="servicio">
        <i class="fa-solid fa-gamepad"></i>
        <h3>Catálogo Gamer</h3>
        <p>Accede a una biblioteca de juegos actualizada con los títulos más populares.</p>
    </div>

    <div class="servicio">
        <i class="fa-solid fa-tags"></i>
        <h3>Ofertas Exclusivas</h3>
        <p>Disfruta descuentos especiales y promociones.</p>
    </div>

    <div class="servicio">
        <i class="fa-solid fa-headset"></i>
        <h3>Soporte Técnico</h3>
        <p>Te ayudamos con compras, cuentas y activación de juegos.</p>
    </div>
</section>

<!--CONTACTO-->
<section id="contacto" class="contacto">
  <h2>Contacto</h2>
  <p class="contacto-texto">
    ¿Tienes dudas, sugerencias o quieres 
    colaborar con ARCADE X?
    Escribemos en nuestras redes sociales y te responderemos lo antes posible.
  </p>

  <div class="contacto-redes">
    <a href="#" class="red facebook">
      <img src="/static/img/facebook2.jpeg"
      alt="Facebook">
      <span>Facebook</span>
    </a>

    <a href="#" class="red whastsapp">
      <img src="/static/img/whatsapp2.jpeg"
      alt="Whatsapp">
      <span>Whatsapp</span>
    </a>

    <a href="#" class="red instagram">
      <img src="/static/img/Instagram2.jpeg"
      alt="Instagram">
      <span>Instragram</span>
    </a>
  </div>
</section>

<!--SOPORTE-->
<section id="soporte" class="soporte">
  <h2>Centro de Soporte</h2>
  <p class="soporte-texto"> </p>
  ¿tienes problemas con una compra,
  descarga o cuenta?
  Escribenos y nuestro equipo respondera lo antes posible</p>


<form class="form-soporte" action="{{ url_for('enviar') }}" method="POST">
  <input type="text" name="nombre" placeholder="Nombre completo" required>
  <input type="email" name="correo" placeholder="Correo" required>
  <input type="text" name="asunto" placeholder="Asunto" required>
  <textarea name="mensaje" cols="30" rows="5" placeholder="Mensaje" required></textarea>
  <button type="submit">Enviar</button>
</form>
<!--CIFRAS-->
<section class="cifras">

    <h2>🤖 Nuestras Estadisticas 🤖</h2>

    <div class="cifras-grid">

        <div class="cifra">
            <span class="numero" data-num="1250">0</span>
            <p>Jugadores activos</p>
        </div>

        <div class="cifra">
            <span class="numero" data-num="5420">0</span>
            <p>Juegos vendidos</p>
        </div>

        <div class="cifra">
            <span class="numero" data-num="320">0</span>
            <p>Ofertas activas</p>
        </div>

        <div class="cifra">
            <span class="numero" data-num="8900">0</span>
            <p>Visitantes mensuales</p>
        </div>
        <script>
const counters = document.querySelectorAll('.numero');

const activarContador = (entries, observer) => {
  entries.forEach(entry => {
    if(entry.isIntersecting){
      const counter = entry.target;
      const target = +counter.getAttribute('data-num');
      let current = 0;

      const update = () => {
        const increment = target / 120;

        if(current < target){
          current += increment;
          counter.textContent = Math.floor(current);
          requestAnimationFrame(update);
        }else{
          counter.textContent = target;
        }
      };

      update();
      observer.unobserve(counter); // se ejecuta solo una vez
    }
  });
};

const observer = new IntersectionObserver(activarContador,{
  threshold:0.6
});

counters.forEach(counter=>{
  observer.observe(counter);
});
</script>

    </div>

</section>

</main>
</body>
</html>